.win {
  background-color: lightgreen;
}

.loss {
  background-color: crimson;
}

.push {
  background-color: gold;
}

.pending {
  background-color: gray;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.teamDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 10rem;
  border-radius: 12px;
}

.timestamp {
  font-weight: bold;
}

.logoAndSpread {
  display: flex;
  align-items: center;
}

.spread {
  font-size: 28px;
  font-weight: bold;
  margin: 0 5px;
}

.score {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.at {
  font-size: 40px;
  font-style: italic;
  margin: 0 0.5rem;
}

.logo {
  margin: 0 auto;
  height: 4rem;
  width: 4rem;
}

.mobileOnly {
  display: none;
  font-weight: bold;
  margin: 10px 0;
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
  .mobileOnly {
    display: block;
  }
  .teamDiv {
    width: 9rem;
  }
}
