.page {
  margin-bottom: 150px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.dropdown {
  width: 200px;
  margin: 30px auto;
}

.seasonRecord {
  margin: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.row {
  font-weight: bold;
}

.row a {
  color: black;
}

.row a:link {
  text-decoration: underline;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

.table {
  margin: 40px auto;
  max-width: 1000px;
}
