.page {
  margin-bottom: 150px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.parlayMessage {
  text-align: center;
  margin-bottom: 60px;
}

.dropdown {
  width: 200px;
  margin: 30px auto;
}

.divider {
  max-width: 1000px;
  margin: 40px auto;
}
