.table {
  max-width: 1000px;
  margin: auto;
}

.leaderboardRow {
  font-weight: bold;
}

.leaderboardRow a {
  color: black;
}

.leaderboardRow a:link {
  text-decoration: underline;
}

.loggedInRow {
  background-color: lightgreen;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

@media only screen and (min-width: 1300px) {
  .loggedInRow:hover {
    background-color: limegreen;
  }

  .otherRow:hover {
    background-color: lightgray;
  }
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
}
