.loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.loader {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.lightMode {
  border: 5px solid black;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

.darkMode {
  border: 5px solid #c1c2c5;
  border-bottom-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
