.page {
  margin-bottom: 150px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.noPicks {
  font-size: 32px;
  font-weight: bold;
  margin: 5rem;
  text-align: center;
}

.pickLogo {
  height: 3rem;
  width: 3rem;
  padding: 4px;
  border-radius: 8px;
}

.win {
  background-color: lightgreen;
}

.loss {
  background-color: crimson;
}

.push {
  background-color: gold;
}

.pickLogoGroup {
  margin: 40px 0;
}

.table {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
}
