.row {
  font-weight: bold;
}

.logo {
  padding: 2px;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 3rem;
}

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.line:hover {
  cursor: pointer;
}

.selected {
  border-radius: 8px;
  background-color: lightgray;
}

.mobileOnly {
  display: none;
  font-weight: bold;
}

.timeAndTeams {
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 1300px) {
  .line {
    transition: transform 0.2s;
  }

  .line:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
  .mobileOnly {
    display: flex;
    align-items: center;
    width: 4rem;
    font-size: 12px;
  }
  .logo {
    margin: 0.5rem auto;
    height: 2rem;
    width: 2rem;
  }
  .line {
    font-size: 12px;
  }
}
