.page {
  margin-bottom: 150px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.noStats {
  font-size: 32px;
  font-weight: bold;
  margin: 5rem;
  text-align: center;
}

.table {
  max-width: 1000px;
  margin: auto;
}

.leaderboardRow {
  font-weight: bold;
}

.leaderboardRow.lightMode a {
  color: black;
}

.leaderboardRow.darkMode a {
  color: #c1c2c5;
}

.leaderboardRow a:link {
  text-decoration: underline;
}

.loggedInRow.lightMode {
  background-color: lightgray;
}

.loggedInRow.darkMode {
  background-color: darkgray;
}

.loggedInRow {
  color: black;
}

.loggedInRow.darkMode a {
  color: black;
}

.parlayOdds {
  color: green;
}

.parlayOdds.darkMode {
  color: lightgreen;
}

@media only screen and (min-width: 1300px) {
  .loggedInRow.lightMode:hover {
    background-color: darkgray;
  }

  .loggedInRow.darkMode:hover {
    background-color: gray;
  }

  .otherRow.lightMode:hover {
    background-color: darkgray;
  }

  .otherRow.darkMode:hover {
    background-color: gray;
  }
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
}
