.page {
  margin-bottom: 150px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.noStats {
  font-size: 32px;
  font-weight: bold;
  margin: 5rem;
  text-align: center;
}
