.table {
  margin: 40px auto;
  max-width: 1000px;
}

.leaderboardRow {
  font-weight: bold;
}

.leaderboardRow.lightMode a {
  color: black;
}

.leaderboardRow.darkMode a {
  color: #c1c2c5;
}

.leaderboardRow a:link {
  text-decoration: underline;
}

.positive {
  color: green;
}

.positive.darkMode {
  color: lightgreen;
}

.negative {
  color: crimson;
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
}
