.button {
  margin: 2rem auto;
  display: block;
  width: 15rem;
  font-size: medium;
  font-weight: bold;
}

.table {
  max-width: 1200px;
  margin: auto;
}

.leaderboardRow {
  font-weight: bold;
  height: 65px;
}

.leaderboardRow.lightMode a {
  color: black;
}

.leaderboardRow.darkMode a {
  color: #c1c2c5;
}

.leaderboardRow a:link {
  text-decoration: underline;
}

.loggedInRow.lightMode {
  background-color: lightgray;
}

.loggedInRow.darkMode {
  background-color: darkgray;
}

.loggedInRow {
  color: black;
}

.loggedInRow.darkMode a {
  color: black;
}

.win {
  background-color: lightgreen;
}

.loss {
  background-color: crimson;
}

.push {
  background-color: gold;
}

.logoBackdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.75rem;
  width: 2.75rem;
  border-radius: 4px;
}

.hiddenLogo {
  margin: 5px 0;
}

.logo {
  height: 2rem;
  width: 2rem;
}

@media only screen and (min-width: 1300px) {
  .loggedInRow.lightMode:hover {
    background-color: darkgray;
  }

  .loggedInRow.darkMode:hover {
    background-color: gray;
  }

  .otherRow.lightMode:hover {
    background-color: darkgray;
  }

  .otherRow.darkMode:hover {
    background-color: gray;
  }
}
