.button {
  display: block;
  margin: auto;
  width: 10rem;
  font-size: 18px;
  font-weight: bold;
}

.signedInAs {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}
