.page {
  margin-bottom: 150px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.notSignedIn {
  font-size: 36px;
  font-weight: bold;
  margin: 8rem;
  text-align: center;
}

.currentPickLogo {
  height: 3rem;
  width: 3rem;
  padding: 4px;
  border-radius: 8px;
}

.win {
  background-color: lightgreen;
}

.loss {
  background-color: crimson;
}

.push {
  background-color: gold;
}

.currentPickCount {
  width: fit-content;
  margin: auto;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}

.currentPickLogoGroup {
  margin: 20px 0 40px;
}

.submitButton {
  margin: 1rem auto;
  display: block;
  width: 10rem;
  font-size: large;
  font-weight: bold;
}

.table {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (max-width: 500px) {
  .hideForMobile {
    display: none;
  }
}
